
<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'e_commerce/components/head.html' %}
    
    <title>SuperMart | {{title}}</title>

</head>
<body>
    {% include 'e_commerce/components/navbar.html' %}
    <input type="hidden" name="email" value="{{user.email}}" id="cart_email"/>
    {% block content %}

    {% endblock %}

    {% include 'e_commerce/components/scripts.html' %}
    {% include 'e_commerce/components/footer.html' %}
    {% block scripts %}

    {% endblock %}
</body>
</html>