{% extends 'staff/components/base.html' %}
{% block content %}
<div class="row">
  <div class="col-12">
    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
  </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="small-box bg-info">
            <div class="inner">
              <h3>New</h3>
              <p>Order</p>
            </div>
            <div class="icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="{% url 'staff:order.new' %}" class="small-box-footer">
              Go <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-gradient-success">
            <div class="inner">
              <h3>Profile</h3>
              <p> Manage</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-plus"></i>
            </div>
            <a href="{% url 'staff:change-password' %}" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
    </div>
</div>

{% endblock %}